<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <bean id="zookeeper" class="com.gary.thriftext.register.zookeeper.ZookeeperFactory">
        <property name="hosts" value="www.cn-face.com:2181" />
        <property name="namespace" value="demo" />
        <property name="connectionTimeout" value="3000" />
        <property name="sessionTimeout" value="3000" />
        <property name="singleton" value="true" />
    </bean>
    <bean id="zookeeperRegister" class="com.gary.thriftext.register.zookeeper.ZookeeperThriftServerRegister">
        <property name="zkClient" ref="zookeeper"/>
    </bean>
    <bean class="com.gary.thriftext.spring.ThriftServiceServerFactory">
        <constructor-arg index="0" value="org.apache.thrift.server.TThreadedSelectorServer"/>
        <constructor-arg index="1" value="org.apache.thrift.transport.TNonblockingServerSocket"/>
        <constructor-arg index="2" value="127.0.0.1"/>
        <property name="port" value="8888"/>
        <property name="transportFactory">
            <bean class="org.apache.thrift.transport.TFramedTransport.Factory"/>
        </property>
        <property name="protocolFactory">
            <bean class="org.apache.thrift.protocol.TCompactProtocol.Factory"/>
        </property>
        <property name="serverRegister" ref="zookeeperRegister"/>
    </bean>

    <context:component-scan base-package="com.gary">
        <context:exclude-filter type="assignable" expression="com.gary.thriftext.spring.client.ClientTest"/>
    </context:component-scan>
    <context:annotation-config/>
</beans>